{% extends 'base.html' %}
{% block title %}ورود{% endblock %}

{% block content %}
<div class="card">
  <h2>ورود</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
      <div style="color: #ff6666; font-size: 13px;">{{ field.errors|striptags }}</div>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit">ورود</button>
  </form>
  <div class="link-text">
    حساب کاربری ندارید؟ <a href="{% url 'signup' %}">ثبت‌نام کنید</a>
  </div>
</div>
{% endblock %}