<h2>Select Images to Delete</h2>

<form method="post">
  {% csrf_token %}
  
  <input type="hidden" name="product_id" value="{{ product_id }}">

  {% for image in images %}
    <div>
      <img src="{{ image.image.url }}" width="150">
      <label>
        Delete
        <input type="checkbox" name="delete_image" value="{{ image.id }}">
      </label>
    </div>
  {% endfor %}

  <button type="submit">Delete Selected</button>
</form>
<a href="{% url 'product_edit' product_id %}">Back to Edit</a>


