{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <h2>سبد خرید من</h2>
            <table>
                <thead>
                    <tr>
                        <th>محصول</th>
                        <th>تعداد</th>
                        <th>قیمت کل آیتم</th>
                        <th>جزئیات</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart.items.all %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.get_total_price }}</td>
                        <td><a href="" class="btn">مشاهده محصول</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">سبد خرید شما خالی است.</td>
                    </tr>
                {% endfor %}
                </tbody>

                {% if cart.items.all %}
                <tfoot>
                    <tr>
                        <th colspan="2">جمع کل سبد خرید:</th>
                        <th colspan="2">{{ cart.get_total_price }}</th>
                    </tr>
                </tfoot>
                {% endif %}
                <tfoot>
                    <form action="{% url 'cart_checkout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn">پرداخت</button>
</form>

                </tfoot>
            </table>
            <a href="{% url 'orders' %}">
        <button>سفارشات من</button>
    </a>
        </div>
    </div>

{% endblock %}
