{% extends 'base.html' %}
{% block title %}حذف تصاویر{% endblock %}

{% block content %}
<div class="card">
  <h2>انتخاب تصاویر برای حذف</h2>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product_id }}">

    {% for image in images %}
    <div style="margin-bottom: 20px;">
      <img src="{{ image.image.url }}" width="150">
      <label>
        حذف
        <input type="checkbox" name="delete_image" value="{{ image.id }}">
      </label>
    </div>
    {% endfor %}

    <button type="submit">حذف موارد انتخاب‌شده</button>
  </form>

  <div class="link-text">
    <a href="{% url 'product_edit' product.id %}">بازگشت به ویرایش محصول</a>
  </div>
</div>
{% endblock %}
