{% extends 'base.html' %}
{% block title %}جزئیات {{ product.name }}{% endblock %}

{% block content %}

<div class="card">

  <h2>{{ product.name }}</h2>
  <p>قیمت: ${{ product.price }}</p>
  <p>{% if product.availability %}موجود{% else %}ناموجود{% endif %}</p>

  <div class="product-images" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
    {% for image in product.images.all %}
    <img src="{{ image.image.url }}" alt="تصویر {{ forloop.counter }}"
      style="width: 300px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">
    {% empty %}
    <p>تصویری برای این محصول موجود نیست.</p>
    {% endfor %}
  </div>

</div>
{% endblock %}