{% extends 'base.html' %}
{% block title %}لیست محصولات{% endblock %}

{% block content %}
<div class="card">
  <div style="display: flex; gap: 20px; justify-content: center;">
    {% for cat in categories %}
    <form method="get" style="display: inline;">
      <input type="hidden" name="category" value="{{ cat.id }}">
      <button type="submit" style="border: none; background: none;">
        <img src="{{ cat.image.url }}" alt="{{ cat.name }}">
        {{ cat.name }}
      </button>
    </form>
    {% endfor %}
  </div>

  <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    {% for product in products %}
    <div class="card" style="width: 200px; text-align: center;">
      {% for image in product.images.all %}
      {% if image.is_main %}
      <img src="{{ image.image.url }}" alt="{{ product.name }}" style="width: 100%;">
      {% endif %}
      {% endfor %}
      <a href="{% url 'product_details' product.pk %}" style="display: block; padding: 10px; font-weight: bold;">
        {{ product.name }}
      </a>
    </div>
    {% endfor %}
  </div>
  <a href="{% url 'home' %}">Home</a>
</div>
{% endblock %}