{% extends 'base.html' %}
{% block title %}لیست محصولات{% endblock %}

{% block content %}
<div class="card">

  <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-bottom: 30px;">
    {% for cat in categories %}
    <form method="get" style="display: inline;">
      <input type="hidden" name="category" value="{{ cat.id }}">
      <button type="submit" style="border: none; background: none; text-align: center;">
        <img src="{{ cat.image.url }}" alt="{{ cat.name }}"
          style="width: 100px; height: 100px; object-fit: cover; border-radius: 10px;">
        <div style="margin-top: 5px;">{{ cat.name }}</div>
      </button>
    </form>
    {% endfor %}
  </div>

  <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    {% for product in products %}
    <div class="card" style="width: 200px; text-align: center; padding: 10px;">
      {% for image in product.images.all %}
      {% if image.is_main %}
      <img src="{{ image.image.url }}" alt="{{ product.name }}"
        style="width: 100%; height: 150px; object-fit: cover; border-radius: 10px;">
      {% endif %}
      {% endfor %}
      <a href="{% url 'product_details' product.pk %}" style="display: block; margin-top: 10px; font-weight: bold;">
        {{ product.name }}
      </a>
      <a href="{% url 'product_edit' product.pk %}" style="display: block; margin-top: 5px;">
        ویرایش محصول
      </a>
      <a href="{% url 'add_to_favorites' product.pk %}">افزودن به علاقه‌مندی‌ها</a>
    </div>
    {% endfor %}
  </div>
  <div style="text-align: center; margin-top: 30px;">
    <a href="{% url 'home' %}">
      <button> صفحه اصلی </button>
    </a>
  </div>

</div>
{% endblock %} 
