<!DOCTYPE html>
<h1>User Profile</h1>

<p><strong>User Name:</strong> {{ user_profile.first_name }} {{ user_profile.last_name }}</p>

{% if user_profile.image %}
<p><strong>Image:</strong><br><img src="{{ user_profile.image.url }}" alt="Profile Image" width="150"></p>
{% else %}
<p><strong>Image:</strong> No image uploaded</p>
{% endif %}

<p><strong>Phone:</strong> {{ user_profile.phone }}</p>
<p><strong>Email:</strong> {{ user_profile.email }}</p>
<p><strong>Sign In At:</strong> {{ user_profile.date }}</p>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <p><strong>User Name:</strong> {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
    {% if user_profile.image %}
    <p><strong>Image:</strong><br><img src="{{ user_profile.image.url }}" alt="Profile Image" width="150"></p>
    {% else %}
    <p><strong>Image:</strong> No image uploaded</p>
    {% endif %}
    <p><strong>Phone:</strong> {{ user_profile.phone }}</p>
    <p><strong>Email:</strong> {{ user_profile.email }}</p>
    <p><strong>Sign In At:</strong> {{ user_profile.date }}</p>
</body>

</html>