{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>{% block title %}فروشگاه{% endblock %}</title>
</head>
<style>

</style>
<body>
    
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="تغییر ناوبری">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">ارتباط با ما</a></li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ورود</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">ثبت‌نام</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">پروفایل</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'cart_items' %}">سبد خرید</a></li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-link nav-link" style="padding: 0; margin: 0;" value="خروج">
            </form>
          </li>
          {% endif %}
          <li class="nav-item"><a class="nav-link active" href="{% url 'product_list' %}">خانه</a></li>
        </ul>
      </div>
    </div>
  </nav>


        {% block content %}{% endblock %}
    
</body>

</html>