{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coffee Shop</title>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
  {% block nav %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="تغییر ناوبری">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">ارتباط با ما</a></li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ورود</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">ثبت‌نام</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">پروفایل</a></li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-link nav-link" style="padding: 0; margin: 0;" value="خروج">
            </form>
          </li>
          {% endif %}
          <li class="nav-item"><a class="nav-link active" href="{% url 'product_list' %}">خانه</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="btn-group">
      <a href="{% url 'product_list' %}" class="btn btn-outline-danger">کتگوری</a>
      <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'category_filter' category.name %}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <h1>محصولات</h1>

    <div class="products-container">
      {% for product in products %}
      <a href="{% url 'product_details' product.pk %}" class="no-underline">

        <div class="product-card">
        <h5 class="mb-2">{{ product.name }}</h5>
        <p class="text-muted">قیمت: {{ product.price }} تومان</p>
        {% if product.get_main_image %}
        <img src="{{ product.get_main_image }}" alt="{{ product.name }}" class="product-image">
        {% else %}
        <div class="text-center text-secondary">تصویری موجود نیست</div>
        {% endif %}
        {% if product.availability %}<p>موجود</p>{% else %}<p>ناموجود</p>{% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'add_to_favorites' product.pk %}">افزودن به علاقه‌مندی‌ها</a>
        {% endif %}
      </div>

      </a>
      {% endfor %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  {% endblock %}
</body>

</html>